.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  background-color: #333;
  height: 100px;
  width: 100%;
}

.slideshow {
  background-size: cover;
  height: 400px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero {
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta {
  display: flex;
  justify-content: space-around;
}

.cta a {
  text-decoration: none;
  color: #ff5733;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 1px solid #ff5733;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px;
}

.cta a:hover {
  color: #fff;
  border: 1px solid #fff;
}

.section {
  padding: 50px 0;
}

/* Add styles for the section content container */
.sectionContent {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* Add styles for the section heading */
.sectionContent h2 {
  font-size: 2rem;

  margin-bottom: 20px;
}

/* Add styles for individual steps */
.step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

/* Add styles for step content */
.stepDescription p {
  font-size: 1.2rem;
  color: #666;
}
