/* main-header styles */
.mainheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #333; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
}

.logo {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin-right: 10px; /* Add margin for spacing between logo and text */
}

/* nav-bar styles */
.navbar {
  flex-grow: 1;
}

.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navitem {
  margin-right: 20px; /* Add margin for spacing between navigation items */
}

/* Style links with a class selector */
.mainheader a {
  text-decoration: none;
  color: #fff; /* Change this to your desired link color */
  transition: color 0.3s;
}

/* Hover effect for links */
.mainheader a:hover {
  color: #ff5733; /* Change this to your desired hover color */
}

.navitem .active {
  color: #ff5733; /* Change this to your desired hover color */
}
